@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafafa;
  --foreground: #0a0a0a;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-montserrat), sans-serif;
  font-weight: 200;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
